.footer-component {
	background-color: var(--home-footer);
	width: 100%;
	padding: .5rem;
	color: var(--home-blanc);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: var(--font-text-block);
	font-size: 0.8rem;
}

.footer-mentions {
	width: 70%;
	text-align: left;
	color: var(--home-blanc);
}

.mention-2 {
	text-align: center;
}

.social-media-list {
	display: flex;
	align-items: center;
}

.social-media {
	width: 2rem;
	height: 2rem;
	margin-right: 1rem;
}
