.welcome {
	background-color: var(--home-fond-blocks);
	border-radius: 20px;
}

.quiz-title {
	color: var(--home-violet);
	font-size: 3rem;
	font-weight: 600;
	text-align: center;
	font-family: var(--font-titles);
}

.quiz-description {
	font-family: var(--font-text-block);
	color: var(--home-violet);
	text-align: justify;
	margin: 2rem;
	font-size: 0.8rem;
}

.button-start {
	border-radius: 10px;
	background-color: var(--home-cta);
	color: var(--home-violet);
	font-family: var(--font-buttons);
	border-style: none;
	margin-bottom: 2rem;
	padding: 1.2rem;
	box-shadow: .3rem .3rem .3rem grey;
}
