.category-img-size {
	width: 50px;
	height: 50px;
}

.category-button {
	width: 20vw;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.category-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	padding-top: 20px;
}

@media (max-width: 768px) {
	.category-img-size {
		width: 50px;
		height: 50px;
	}

	.category-button {
		width: 20vw;
		height: 12vh;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: white;
	}

	.category-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
		padding-top: 20px;
	}
}
